<input [(ngModel)]="student.cpf" matInput placeholder="Student CPF"><br><br>
<button mat-flat-button color="primary" (click)="login()">login</button><br><br>
<button mat-flat-button color="primary" (click)="createStudent()">createStudent</button><br><br>
<button mat-flat-button color="primary" (click)="getStudentById()">getStudentById</button><br><br>
<button mat-flat-button color="primary" (click)="changePassword()">changePassword</button><br><br>
<button mat-flat-button color="primary" (click)="addScore()">addScore</button><br><br>
<button mat-flat-button color="primary" (click)="getStudentByCpf()">getStudentByCpf</button><br><br>
<button mat-flat-button color="primary" (click)="deleteStudent()">deleteStudent</button><br><br>
<button mat-flat-button color="primary" (click)="subscribeTrail()">subscribeTrail</button><br><br>
<button mat-flat-button color="primary" (click)="unsubscribeTrail()">unsubscribeTrail</button><br><br>
<button mat-flat-button color="primary" (click)="getTrails()">getTrails</button><br><br>
<button mat-flat-button color="primary" (click)="getRanking()">getRanking</button><br><br>

