h2 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

.header {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: 20px;
    color: #3f51b5;
}

mat-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.inputs {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.card-buttons button {
    border: 1px solid black;
}

.card-actions {
    display: flex;
    justify-content: center ;
}

