
.header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(31, 86, 115);
    margin: 10px 20px 20px 20px;
}

.cards {
    display: flex;
    flex-direction: row;
}

mat-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    border: 1px solid rgb(31, 86, 115);
    border-radius: 30px;
    margin: 20px;
}

.inputs {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px 20px;
}

.inputs mat-form-field {
    width: auto;
    margin: 10px;
}

.inputs mat-form-field input {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(31, 86, 115);
}

.card-buttons button {
    border: 1px solid rgb(31, 86, 115);
    color: rgb(31, 86, 115);
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.card-buttons {
    padding: 0;
    margin: 30px 30px 10px 30px;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
}

