<h1 class="header">Teacher {{buttonMessage}}</h1>

<mat-card>
  <mat-card-content class="form">
    <div class="inputs">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="teacher.name" placeholder="Teacher's name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="teacher.email" placeholder="Teacher's email" />
      </mat-form-field>
    </div>
    <div class="inputs">
      <mat-form-field>
        <mat-label>Registration</mat-label>
        <input matInput [(ngModel)]="teacher.registration" placeholder="Teacher's registration" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="teacher.phone" type="number" placeholder="Teacher's phone">
      </mat-form-field>
    </div>
  </mat-card-content>

  <div class="card-actions">
    <mat-card-actions class="card-buttons">
      <button mat-raised-button (click)="insertOrUpdate()">{{buttonMessage}}</button>
      <button mat-raised-button [routerLink]="['/teacher-list']">See all teachers</button>
    </mat-card-actions>
  </div>
</mat-card>
