
<div>
  <mat-card class="component-card">
    <h1 class="header">Teachers List</h1>
  
    <mat-card class="list-card" *ngFor="let teacher of teachers">
      <mat-card-content class="name">
        {{teacher.name}}
      </mat-card-content>
      <mat-card-content class="email">
        <p>Email:</p>{{teacher.email}}
      </mat-card-content>
      <mat-card-content class="registration">
        <p>Registration:</p>{{teacher.registration}}
      </mat-card-content>
      <mat-card-actions>
        <button class="button-delete" mat-icon-button (click)="delete(teacher.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button class="button-edit" mat-icon-button [routerLink]="['/teacher-update', teacher.id]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-card>
</div>