<h1 class="header">Teacher List</h1>

<mat-card *ngFor="let teacher of teachers">
  <h2>Teacher List</h2>
  <mat-card-header>
    <mat-card-title>
      {{teacher.name}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Email: {{teacher.email}} <br>
    Registration: {{teacher.registration}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="delete(teacher.id)">
      <mat-icon>X</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/teacher-update', teacher.id]">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>