* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topbar {
  display: flex;
  background-color: #f5f5f5;
}

.topbar .text {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  width: 90%;
}

.topbar .button {
  margin: 20px 10px;
}

.divider {
  margin-left: 10px;
  margin-right: 10px;
  border-left: 2px solid #1f5673;
  height: 25px !important;
  text-align: center;
}

.formInputs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  box-shadow: none;
  border: 2px solid #dd6e42;
  border-radius: 30px;
}

.formInputs mat-form-field {
  width: 100%;
}

.formInputs button {
  color: #dd6e42;
}

.contents {
  padding-bottom: 20px;
}

.contents mat-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  box-shadow: none;
  border: 2px solid #1f5673;
  border-radius: 30px;
}