<h1 class="header">Institution Register</h1>

<mat-card>
  <mat-card-content class="inputs">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="institution.name" placeholder="Institution's name" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>CNPJ</mat-label>
        <input matInput [(ngModel)]="institution.cnpj" placeholder="Institution's cnpj" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="institution.password" placeholder="Institution's password" />
    </mat-form-field>
  </mat-card-content>

  <div class="card-actions">
    <mat-card-actions class="card-buttons">
      <button mat-raised-button (click)="create()">Register</button>
    </mat-card-actions>
  </div>
</mat-card>

<h1 class="header">Institutions List</h1>

<mat-card *ngFor="let institution of institutions">
  <mat-card-header>
    <mat-card-title>
      {{institution.name}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    CNPJ: {{institution.cnpj}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="delete(institution.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="goToEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>