<div class="homePage">
  <div class="titleHome">
    <img src="../../assets/Research paper-pana.svg" alt="GTA">
    
  </div>
  
  <div class="loginForm">
    <h1>Gestão de Trilha de Aprendizagem</h1>
    <mat-card>
      <mat-card-title>Login</mat-card-title>

      <div class="radioButtons">
        <mat-radio-group aria-label="Select an option" color="primary">
          <mat-radio-button value="professor" checked>Professor</mat-radio-button>
          <mat-radio-button value="aluno">Aluno</mat-radio-button>
          <mat-radio-button value="instituicao">Instituição</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="formInputs">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Digite seu login</mat-label>
            <input matInput placeholder="Login">
          </mat-form-field>
        </p>
        <p>  
          <mat-form-field appearance="outline">
            <mat-label>Digite sua senha</mat-label>
            <input matInput placeholder="Senha">
          </mat-form-field>
        </p>
      </div>
      <div class="formButton">
        <button mat-flat-button color="primary">Login</button>
      </div>

      <a href="#">registre-se</a>
    </mat-card>
  </div>
</div>
